<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header.ejs') %>
  <link rel="stylesheet" href="../csv files/profile.csv" />

  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="profileImage">
      <img
        src="<%= Students.image %>"
        onerror="setDefaultImage()"
        class="profileimage"
        alt="ProfileImage"
      />
    </div>
    <div class="Info">
      <div class="nameprofile"><%= Students.name %></div>
      <div class="RollNo"><%= Students.rollno %></div>
      <div class="major"><%= Students.major %></div>
      <div class="minor"><%= Students.minor %></div>
      <div class="outlook"><%= Students.outlookid %></div>
      <div class="phoneNo"><%= Students.phoneno %></div>
    </div>

    <!-- POR  -->

    <div class="POR">
      <div class="porheading">Position of Responsibility</div>
      <% if (Students.rollno == position.rollno) { %> <% position.forEach(position => { %>
      <a class="singlepor" href="/profile/<%= position._id %>" id="singlepor">
        <div class="por-container">
          <h2><%= position.responsibility %></h2>
          <div class="deletepor">delete</div>
        </div>
      </a>
      <% }) %> <% } else { %>
      <p>No POR to show</p>
      <% } %>

      <form action="/profilepage" method="POST">
        <label for="porinclubs">Club</label>
        <input
          type="text"
          id="porinclubs"
          class="porinclubs"
          placeholder="Club- Position of Responsibility"
        />
        <label for="rollnopor">rollnopor</label>
        <input
          type="text"
          id="rollnopor"
          class="rollnopor"
          value="<%= Students.rollno %>"
        />
        <button>
          <div class="addbutton">Add POR</div>
        </button>
      </form>
    </div>

    <!-- Skills  -->

    <div class="skills">
      <div class="skillheading">Position of Responsibility</div>
      <% if (Students.rollno == skillset.rollno) { %> <% skillset.forEach(skillset
      => { %>
      <a
        class="singleskill"
        href="/profile/<%= skillset._id %>"
        id="singleskill"
      >
        <div class="skill-container">
          <h2><%= skillset.myskill %></h2>
          <div class="deleteskill">delete</div>
        </div>
      </a>
      <% }) %> <% } else { %>
      <p>No Skill to show</p>
      <% } %>

      <form action="/profilepage" method="POST">
        <label for="skillset"></label>
        <select id="skillset" name="skillset" class="skillset">
          <option value="Null" selected>Choose a skill</option>
          <option value="Web Development">Web Development</option>
          <option value="App Development">App Development</option>
          <option value="Consulting">Consulting</option>
          <option value="Machine Learning">Machine Learning</option>
        </select>
        <label for="rollnopor">rollnoskill</label>
        <input
          type="text"
          id="rollnoskill"
          class="rollnoskill"
          value="<%= Students.rollno %>"
        />
        <button>
          <div class="addbutton">Add skill</div>
        </button>
      </form>
    </div>

    <!-- Project -->

    <div class="Project content">
      <h2>Your Projects</h2>
      <% if (Students.password == myproject.password) { %> <%
      myproject.forEach(myproject => { %>
      <a
        class="singleproject"
        href="/profile/<%= myproject._id %>"
        id="singleproject"
      >
        <div class="project-container">
          <!-- <h2><%= myproject.title %></h2>
                    to get the content;
                    futher write the way you want the data to display -->
          <div class="deleteproject">delete</div>
        </div>
      </a>
      <% }) %> <% } else { %>
      <p>No Project to show</p>
      <% } %>
      <div class="addproject">
        <a href="createproject.ejs">ADD PROJECT</a>
      </div>
    </div>
    <%- include('../partials/footer.ejs') %>

    <script src="../profilepage.js"></script>
  </body>
</html>
