<html lang="en">
<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>

  <div class="details content">




    <!-- <h2><%= project.title %></h2>
    to get the content;
    futher write the way you want the data to display -->



    

    <a class="delete" data-doc="<%= project._id %>">
      <img src="" alt="delete icon">
    </a>
  </div>

  <%- include("../partials/footer.ejs") %>

</body>
</html>


